extends layout

block layout-content
  .galleryContainer
    .mm-columns 
      .mm-columns__item 
        img.mm-columns__img(src='https://picsum.photos/500/400?random=1')
      .mm-columns__item 
        img.mm-columns__img(src='https://picsum.photos/300/350?random=2')
      .mm-columns__item 
        img.mm-columns__img(src='https://picsum.photos/250/450?random=3')
      .mm-columns__item 
        img.mm-columns__img(src='https://picsum.photos/400/450?random=4')
      .mm-columns__item 
        img.mm-columns__img(src='https://picsum.photos/350/450?random=5')
      .mm-columns__item 
        img.mm-columns__img(src='https://picsum.photos/300/450?random=6')
    div.banner
      .banner-background 
      .logo 