extends layout

block layout-content
  div.View.WelcomeView
    .container 
      table.gigtable
        tr.gigrow(style={background: '#aaa'})
          th
            img.gigicon(src='12bar_logo.png') 
          th
            h1 Sun 19/08/2022 @ 8:00PM
        tr.gigrow(style={background: '#eee'})
          th
            img.gigicon(src='darkroom_logo.png')
          th
            h1 Sat 08/10/2022 @ 8:00PM
            
    div.banner
      .banner-background 
      .logo 