@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

@font-face {
  font-family: Vintage;
  src: url(Atlantic_Cruise-Demo.ttf);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
  align-content: center;
  bottom: 0
}

.banner-background {
  background-color: white;
  width: 100%;
  height: 102px;
  position: absolute;
  opacity: .50;
  border-radius: 100px;
  bottom: 50px;
  z-index: 1;
}

.logo {
  background-image: url('convincers-logo1.png');
  background-position: center;
  background-size: 500px;
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 14px;
  background-repeat: no-repeat;
  z-index: 2;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

t1 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.CalendarView {
  background: url("convincers-img1.jpg");
    background-size: cover;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 5px;
  background-size: cover;
  font-family: "Merriweather Sans", sans-serif;
}

.inner {
  position: absolute;
}

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Sitemenu {
  position: absolute;
  top: 0;
  z-index: 1;
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 150px;

  background: #fa4141;
  border-radius: 30px;

  font-size: 14px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.WelcomeView {
  background-image: url("group1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.GigView {
  background: url("group1.jpg");
  background-size: cover;
}

.container {
  padding: 50px;
  position: absolute;
  z-index: 10;
  width: 99%;
  opacity: 0.8;
}

.galleryContainer {
  padding: 50px;
  position: absolute;
  z-index: 10;
  width: 99%;
  padding-top: 400px;
  z-index: 0;
}

.gigtable {
  width: 100%
}

.gigrow {
  width: 10%;
}

.gigicon {
  width: 100px;
  height: auto
}